.footer-text {
  color: #7f7f7f;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.footer-container {
  background-color: rgb(249, 249, 249);
  width: 100vw;
  height: 442px;
  padding-left: 560px;
  padding-right: 132px;
  padding-bottom: 50px;
  padding-top: 105px;
}
.upFooter-container {
  margin-bottom: 95px;
  display: flex;
  gap: 322px;
}
.footer-text {
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: 350px;
}
.footer-logo {
  height: 42px;
  width: 129px;
}
.columnText-container {
  display: flex;
}
.firstColumn {
  margin-right: 149px;
}
.secondColumn {
  margin-right: 101px;
}
.downFooter-container {
  display: flex;
  align-items: flex-end;
  gap: 701px;
  height: 49px;
  border-top: 1px rgb(232, 232, 232) solid;
}
.copyRight-text {
  color: #7f7f7f;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.columnTitle {
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.columnText {
  font-family: "Inter", sans-serif;
  color: #7f7f7f;
  font-weight: 400;
  font-size: 14px;
  margin-top: 6px;
}
.checked-line:checked ~ .checked-line {
  text-decoration: line-through;
}
