.body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.add-recipe-container {
  padding: 50px;
  width: 1000px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

.input-container {
  margin-bottom: 20px;
}

.add-recipe-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.ingredient-list,
.introduction-list {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 20px;
}

.ingredient-list-title,
.introduction-list-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.ingredients,
.introductions {
  list-style: none;
  padding: 0;
}

.ingredient,
.introduction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.remove-button {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #ff3e20;
}

.add-ingredient,
.add-introduction {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.ingredient-input,
.introduction-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  
}

.add-button:hover {
  background-color: #45a049;
}

#upload_widget {
  width: 500px;
  height: 500px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#upload_widget svg {
  width: 100px;
  height: 100px;
  fill: white;
}

.submit-button{
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  width: 200px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.submit-center{
  display: flex;
  justify-content: center;
}
.foodname{
  outline: none;
}