@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.GoBack {
  position: absolute;
  top: 30px;
  left: 40px;
}

.arrow_down {
  width: 20px;
}
.outerdiv_category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  gap: 10px;
}
.a {
  color: grey;
}
.picture_contacts1 {
  width: 30px;
  height: 30px;
}
.drop_down:hover {
  color: #ff6430;
}

.drop_down:hover .svg3 path {
  stroke: #ff6430;
}
.test {
  position: absolute;
  top: 90px;
  left: 770px;
}
.Buy {
  font-weight: 700;
  color: grey;
}
.input_category {
  box-shadow: 0px 0px 20px white;
}

.search-detail {
  width: 950px;
  border-radius: 20px;
}

.search {
  width: 40px;
  border-radius: 50%;
}
.favs {
  font: bold;
  font-weight: 700;
  font-size: 35px;
}
.search-detail2 {
  width: 950px;
  border-radius: 20px;
}

.search2 {
  width: 40px;
  border-radius: 50%;
}
.Profile_word {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 33px;
  /* position: absolute;
  top: 220px;
  left: 295px; */
}
